body {
  display: flex;
  justify-content: space-around;
}
.full {
  font-size: 16px;
/* line-height: 16px; */
display: flex;
justify-content: center;
}
.three-quarters {
  font-size: 32px;
  /* line-height: 32px; */
  display: flex;
justify-content: center;

}
.half {
  font-size: 64px;
  /* line-height: 64px; */
  display: flex;
justify-content: center;

}
.quarter {
  font-size: 128px;
  /* line-height: 128px; */
  display: flex;
justify-content: center;

}
.battery-empty {
  font-size: 256px;
  /* line-height: 256px; */
  display: flex;
justify-content: center;

}
