@import "variables.scss";
.header {
  background-color: $color-grey;
}
.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  height: $unit * 7;
  align-items: center;

  &__item {
    color: $text-color-secondary;
    font-weight: 700;
    background-color: $color-secondary;
    padding: $unit;
    margin-left: $unit;
    border-radius: $border-radius;
    cursor: pointer;

    &_selected {
        background-color: $color-primary;
    }
    &:hover {
        opacity: 0.7;
    }
  }
}
      