* {
  box-sizing: border-box;
}
.conteiner {
  width: 100vw;
  height: 100vh;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  animation: move 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
}
@keyframes move {
  from {
    top: -100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
