li {
    margin-bottom: 16px;
}
ol span {
    background-color: green;
    color: white;
}
ul li {
    background-color: orange;
    color: white;
}
#special+li {
    border: 3px solid red;
}
#special~li {
    margin-left: 16px;
}
