body {
    display: flex;
    flex-direction: column;
    }
    header {
        display: flex;
align-content: center;
    }
    .articles-list {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        
    }

    .article {
        margin: 8px ;
        padding: 16px;
        background-color: bisque;
        flex-basis: 300px;
    }
