button {
  margin: 64px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  background-color: coral;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 85%;
}
.bird {
  width: 32px;
  height: 32px;
  fill: #fff;
  vertical-align: middle;

}
.button_bird:hover {
  color: darkcyan;
}

.button_bird:hover > .bird {
  fill: green;
}
