* {
    box-sizing: border-box;
}
table {
    margin: 16px;
    width: 500px;
}
div {
    overflow-x: auto;
}
table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
    text-align: right;
}