li {
    margin-bottom: 16px;
}
[target=_blank] {
    border: 2px solid black;
}
[href^="broken"] {
    border: 2px solid red;
}
a[href$=".com"] {
    margin-left: 50px;
}
[lang*="en"] {
    font-size: 10px;
}
[href*="www"] {
    color: green;
}
[title*="popular"] {
    font-size: 24px;
}
