* {
    box-sizing: border-box;
}
.image {
    height: 200px;
    width: 200px;
    margin: 16px;
    border: 1px dotted gray;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.gallery {
    display: flex;
}