$tf: Verdana, Geneva, Tahoma, sans-serif;
$fs: 16px;
$unit: 3em;
$header-bg-color: #006400;
$bgci: #9acd32;
$color-menu-item-active: #ffff00;
$padunit: 8px;

.header {
  height: $unit;
  background-color: $header-bg-color;
  display: flex;
  align-items: center;
}
.menu {
  margin: 0px 0px 0px $unit;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  display: flex;
  list-style-type: none;
  line-height: $unit;
  height: $unit;

  &__item {
    padding-left: $padunit;
    padding-right: $padunit;
  }
  &__item:hover {
    background-color: $bgci;
  }
}

.menu__item-text:hover {
  color: $color-menu-item-active;
}
.menu__item_active:hover {
  .submenu {
    // visibility: visible;
    display: block;
  }
}


.submenu {
  padding: 0;
  margin: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;
  padding-left: 8px;
  padding-right: 8px;
  // visibility: hidden;
  display: none;
  list-style-type: none;

  &__item:hover {
  color: #000;
}

}

.menu__item-active{
position:relative
}
.menu__item_active:hover .submenu{
display:flex;
flex-direction: column;
position: absolute;
}
